
<main class="container py-2">

	<form class="form-signup" method="POST" action="/profile/update-profile">
		<div class="text-center mb-4">
			<img
				class="iconForm mb-4"
				src="/images/UserProfileImg.png""
				alt=""
				width="96"
				height="96"
			/>
			<h1 class="h3 mb-3 fw-normal">Update Profile</h1>
		</div>

		<div class="input-group mb-3">
			<span class="input-group-text" id="inputName">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="16"
					height="16"
					fill="currentColor"
					class="bi bi-person-plus-fill"
					viewBox="0 0 16 16"
				>
					<path
						d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"
					></path>
					<path
						fill-rule="evenodd"
						d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"
					></path>
				</svg>
			</span>
			<input
				name="username"
				type="name"
				id="inputName"
				class="form-control"
				placeholder="User Name"
				value="{{username}}"
				required=""
				autofocus=""
			/>
			{{! <label class="labelForm" for="inputName">User Name</label> }}
		</div>

		<div class="input-group mb-3">
			<span class="input-group-text" id="inputEmail">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="16"
					height="16"
					fill="currentColor"
					class="bi bi-envelope-fill"
					viewBox="0 0 16 16"
				>
					<path
						d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"
					></path>
				</svg>
			</span>
			<input
				name="email"
				type="email"
				id="inputEmail"
				class="form-control"
				placeholder="name@example.com"
				value="{{email}}"
				required=""
				autofocus=""
			/>
			{{! <label for="inputEmail">Email address</label> }}
		</div>

		<div class="input-group mb-4">
			<span class="input-group-text" id="inputLocation">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="16"
					height="16"
					fill="currentColor"
					class="bi bi-geo-alt-fill"
					viewBox="0 0 16 16"
				>
					<path
						d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"
					></path>
				</svg>
			</span>
			<input
				name="location"
				type="location"
				id="inputLocation"
				class="form-control"
				placeholder="Insert your country"
				value="{{location}}"
				required=""
				autofocus=""
			/>
			{{! <label for="inputLocation">Location</label> }}
		</div>

		<div
			class="btn-group d-block"
			role="group"
			aria-label="Basic mixed styles example"
		>
			<a class="btn btn-secondary btn-lg btn-block" href="/profile">Cancel</a>
			<button type="submit" class="btn btn-primary btn-lg btn-block">Update</button>
		</div>

	</form>

</main>

{{#if errorMessage}}
	<p style="color:red">{{errorMessage}}</p>
{{/if}}